.mainabu {
    padding-top: 4rem;
}
section.aboutbgound {
    background-color: #edf2fa;
}

p.sportaparel {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 400;
    padding-left: 4rem !important;
    padding-right: 4rem !important;
}
p.mnufacturer {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 400;
    padding-left: 4rem;
    padding-right: 4rem;
}
button.btn.btn-white
 {
    margin-left: 4rem;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 600;
    border: 2px solid 
}
button.btn.btn-white:hover
 {
    margin-left: 4rem;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 600;
    color: white;
    border: 2px solid;
    background-color: rgb(28, 96, 243);
}
.bagimg {
    margin-top: -27rem;
    margin-left: 1rem;
    width: 70%;
    height: 300;

}
img.img-fluid.h-100.w-100.object-fit-cover.baguperimg {
    margin-top: -24rem;
}
section.py-5.bg-white {
    margin-top: 14rem;
}
h2.mb-3.text-uppercase {
    font-weight: 700;
    font-size: 36px;
    font-family: sans-serif;
    line-height: 54px;
}
p.mission {
    padding-left: 10rem;
    padding-right: 10rem;
}
p.vission {
    padding-left: 10rem;
    padding-right: 10rem;
}
h2.text-center.text-uppercase.mb-4 {
    color: black;
    font-size: 30px;
    font-weight: 700;
    font-family: sans-serif;
}
.col-md-6.mb-4.mb-md-0.ourcustomer p {
    color: black;
}
ul.list-abstyle {
    color: black;
    padding-left: 20rem;
    font-size: 18px;
    line-height: 38px;
}
.orientation p {
    color: black;
    padding-left: 20rem;
    font-size: 18px;
    font-weight: 400;
}
img.img-uperimg.h-100.w-100.object-fit-cover {
    margin-top: -24rem;
}
.col-md-4.bg-dark.customer {
    padding: 26px;
}
h4.text-uppercase.mb-3 {
    color: black;
}
@media (max-width: 480px) {
    p.sportaparel
{
    padding-left: 0rem !important; 
    padding-right: 0rem !important;
}
p.mnufacturer {
    padding-left: 0rem;
    padding-right: 0rem;
}
button.btn.btn-white {
    margin-left: 0rem;
    margin-bottom: 20px;
}
img.img-fluid.h-100.w-100.object-fit-cover.baguperimg {
    margin-top: 0rem;
}
.bagimg {
    margin-top: 0rem;
    margin-left: 4rem;
}
section.py-5.bg-white
 {
    margin-top: 0rem;
}
ul.list-abstyle {
    color: black;
    padding-left: 0rem;
    font-size: 18px;
    line-height: 38px;
}
img.img-uperimg.h-100.w-100.object-fit-cover {
    margin-top: 0rem;
    padding: 0px;
}
p.mission
 {
    padding-left: 0rem;
    padding-right: 0rem;
}
p.vission
 {
    padding-left: 0rem;
    padding-right: 0rem;
}
.orientation p {
    padding-left: 0rem; 
}
ul.list-unstyled {
    padding-left: 0rem; 
}
button.px-4.py-2.btn.btn-getnow {
    display: none;
}
}